export SQS_SOURCE_QUEUE=input-queue
export SQS_DESTINATION_QUEUE=result-queue

export AWS_ACCESS_KEY_ID=test
export AWS_SECRET_ACCESS_KEY=test
export AWS_ENDPOINT_URL=http://localhost:4566/

export DEV_MODE=1
export APP_DEBUG=1
